# Frontend Environment Variables

# Backend API base URL
VITE_API_BASE_URL=http://localhost:5001/api

# Gemini
GEMINI_API_KEY=your_gemini_api_key

# Google Sign-In
VITE_GOOGLE_CLIENT_ID=457944318804-c2l1pfrd5muthi6cg32d01hdbsovlmi8.apps.googleusercontent.com
